In [1]:
import pandas as pd
import numpy as np

In [6]:
file_path = "./140325_LoL_champion_data.csv"

df = pd.read_csv(file_path)
df.head(1)

,Unnamed: 0,id,apiname,title,difficulty,herotype,alttype,resource,stats,rangetype,...,be,rp,skill_i,skill_q,skill_w,skill_e,skill_r,skills,fullname,nickname
0,Aatrox,266.0,Aatrox,the Darkin Blade,2,Fighter,Tank,Blood Well,"{'hp_base': 650, 'hp_lvl': 114, 'mp_base': 0, ...",Melee,...,2400,880,{1: 'Deathbringer Stance'},"{1: 'The Darkin Blade', 2: 'The Darkin Blade 3'}",{1: 'Infernal Chains'},{1: 'Umbral Dash'},{1: 'World Ender'},"{1: 'Deathbringer Stance', 2: 'The Darkin Blad...",NaN,NaN

In [84]:
stats_df = df.loc[:, ['apiname','stats']]


#Tìm apiname là Yasuo
search = stats_df[stats_df['apiname'] == 'Yasuo']
search

    apiname                                              stats
161   Yasuo  {'hp_base': 590, 'hp_lvl': 110, 'mp_base': 100...

In [57]:
exploded_stats = stats_df['stats'].apply(lambda x: pd.Series(eval(x)))
# Note that NaNs are replaced with 0
exploded_stats_filled = exploded_stats.fillna(0)
result_df = pd.concat([stats_df, exploded_stats_filled], axis=1)
result_df.head(1)

,apiname,stats,hp_base,hp_lvl,mp_base,mp_lvl,arm_base,arm_lvl,mr_base,mr_lvl,...,missile_speed,usb,nb,ofa,gameplay_radius,crit_base,windup_modifier,range_lvl,swift,crit_mod
0,Aatrox,"{'hp_base': 650, 'hp_lvl': 114, 'mp_base': 0, ...",650.0,114.0,0.0,0.0,38.0,4.8,32.0,2.05,...,0.0,0,0,0,0.0,0.0,0.0,0.0,0,0.0

Lọc các vị tướng có tốc độ di chuyển lớn hơn 330

In [63]:

#Lọc các vị tướng có tốc độ di chuyển lớn hơn 330
result_df = pd.concat([stats_df, exploded_stats_filled], axis=1)

# Filter champions with movement speed greater than 330
filtered_df = result_df[result_df['ms'] >= 350]
filtered_df.ms.describe()

#load all 330
# filtered_df.head(100)
# #Chỉ lấy apiname và stat
filtered_df = filtered_df.loc[:, ['apiname','stats','ms']]
filtered_df.head(100)

      apiname                                              stats     ms
47     Illaoi  {'hp_base': 656, 'hp_lvl': 115, 'mp_base': 350...  350.0
52        Jax  {'hp_base': 665, 'hp_lvl': 103, 'mp_base': 339...  350.0
66     Khazix  {'hp_base': 643, 'hp_lvl': 99, 'mp_base': 327,...  350.0
82   MasterYi  {'hp_base': 669, 'hp_lvl': 105, 'mp_base': 251...  355.0
90      Nasus  {'hp_base': 631, 'hp_lvl': 104, 'mp_base': 326...  350.0
97       Olaf  {'hp_base': 645, 'hp_lvl': 119, 'mp_base': 316...  350.0
122   Shyvana  {'hp_base': 665, 'hp_lvl': 104, 'mp_base': 100...  350.0
140   Trundle  {'hp_base': 650, 'hp_lvl': 110, 'mp_base': 340...  350.0
144      Udyr  {'hp_base': 664, 'hp_lvl': 92, 'mp_base': 271,...  350.0

Tính HP trung bình của toàn bộ t

In [78]:
# Tính HP trung bình của toàn bộ tướng
result_df = pd.concat([stats_df, exploded_stats_filled], axis=1)
hp_avg = result_df['hp_base'].mean()
print(hp_avg)

619.5174418604652